
<% email = @gmail.inbox.find(uid: @id).pop %>
<% message = email.message.html_part.decoded.gsub!(/<img src="cid:([\w\W]+?)">/, "") ? email.message.html_part.decoded.gsub!(/<img src="cid:([\w\W]+?)">/, "") : email.message.html_part.decoded rescue email.message.decoded %>

<% email.read! %>

<div class = 'row center-block'>
<%= message.html_safe %>
</div>

<hr></hr>
<% sender = email.from[0].mailbox << "@" << email.from[0].host%>

<%= form_tag(send_message_path) do %>
  <div class = 'form-group'>
      <%= label_tag('to', "To:") %>
      <%= email_field_tag('to', sender, class: 'form-control', required: true) %>
  </div>
  <div class = 'form-group'>
      <%= label_tag('message', "Reply:") %>
      <%= text_area_tag('message', nil, rows: 10, cols: 25, class: 'form-control') %>
  </div>
  <%= submit_tag("Send", class: 'btn btn-primary') %>
<% end %>

<br>
